{% extends "layout.html" %} {% block content %}
<div class="login">
  <h3 class="login__title">Login</h3>
  <div class="login__container">
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="notification is-danger">
      <span id="error-message">{{ messages[0] }}</span>
    </div>
    {% endif %} {% endwith %}
    <form class="login__inputs" method="POST" action="/auth/login">
          <input
            class="login__input"
            type="email"
            name="email"
            placeholder="Your Email"
            autofocus=""
          />
          <input
            class="login__input"
            type="password"
            name="password"
            minlength="8"
            placeholder="Your Password"
          />
      <button class="button login__button is-block is-info is-fullwidth">
        Login
      </button>
    </form>
    <form action="/auth/register" method="GET">
      <button class="button signup__button is-block is-info is-fullwidth">
        Sign Up
      </button>
    </form>
  </div>
</div>
{% endblock %}
