{% extends "layout.html" %}
{% block content %}
<h1 class="title">
  BOOK INFO
</h1>
<div class="book">
	<img src="../{{ book.image_path }}" alt="{{ book.name }}">
	<table>
		<tbody>
			<tr>
				<th>책이름</th>
				<td>{{ book.name }}</td>
			</tr>
			<tr>
				<th>출판사</th>
				<td>{{ book.publisher }}</td>
			</tr>
			<tr>
				<th>저자</th>
				<td>{{ book.author }}</td>
			</tr>
			<tr>
				<th>출간일</th>
				<td>{{ book.published_at }}</td>
			</tr>
			<tr>
				<th>페이지수</th>
				<td>{{ book.page_count }}</td>
			</tr>
			<tr>
				<th>ISBN</th>
				<td>{{ book.isbn }}</td>
			</tr>
		</tbody>
	</table>
	<div class="intro">
		<h1>책소개</h1>
		<article>
			{{ book.description }}
		</article>
	</div>
	<div class="comments">
		<div class="output_data">
			{{ post.author_id }}
		</div>
		<div class="input_data">
			<form action="/{{ book.id }}" method="POST">
				<div>
					제목 : <input type="text" name="title">
				</div>
				<div>
					내용 : <input type="text" name="body">
				</div>
				<input type="button" name="comment" value="댓글 달기" >
			</form>
		</div>
	</div>
</div>

{% endblock %}