{% extends "layout.html" %} {% block content %}
<h1 class="title">
  Flask Login Example
</h1>
<h2 class="subtitle">
  Welcome to Fake Library
</h2>
<div>
  {% for book in books %}
  <a href="{{ url_for('book_info.book_info', id=book.id) }}">
    <img src="{{ book.image_path }}" alt="{{ book.name }}" width=100px>
    <h4>{{ book.name }}</h4>
  </a>
    <div>대여일 : {{ book.start_date}}</div>
    <div>평점 : {{ book.rating }}</div>
    <form action="/return" method="POST">
      <button name="id" value="{{ book.id }}">반납하기</button>
    </form>
    <hr>
    <div style="margin: 20px"></div>
  {% endfor %}
</div>


{% endblock %}
